#Header {
    height: 15%;
    border-width: 2px;
    border-color: black;
    width:100%;
    color:black;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Times New Roman', Times, serif;

} 
#center {
    width: 20%;


}
.Project {
    flex:1
    
}

#projects {

    flex-direction: row;
    just
    

}
body {
}
a {
    font-family: 'Times New Roman', Times, serif;
}