#Header {
    height: 15%;
    color:black;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Times New Roman', Times, serif;

} 
#center {
    width: 40%;


}
.Project {
    flex:1
}

#projects {

    flex-direction: row;
    

}
body{
    display: flex;
    flex-direction: column;
}
a {
    font-family: 'Times New Roman', Times, serif;
}